<a href="https://colab.research.google.com/github/Lohithl27/localrepo/blob/main/Python_basic_from_R_%26_AI_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab

> It is an online platform suitable for collaborative Python coding

## A variable is a reference to a value stored in memory.

In [ ]:
marks = 70
# Here "marks" is a variable
print (marks)

70



---

## Data Types

### Integer

> An integer is a whole number, positive or negative, without a decimal point.

In [ ]:
legs = 4
b = -5
print("Type of a:", type(legs))
print("Type of b:", type(b))

Type of a: <class 'int'>
Type of b: <class 'int'>

### Float

> A float is a number that has a decimal point. It's used when we need more precision.

In [ ]:
pi = 3.14
height = -172.5
print("Type of pi:", type(pi))
print("Type of height:", type(height))

Type of pi: <class 'float'>
Type of height: <class 'float'>

### Complex Number

> Python natively supports complex numbers, where j is used to represent the imaginary part.

In [ ]:
z = 3 + 4j
print("Complex number z:", z)
print("Real part:", z.real)
print("Imaginary part:", z.imag)

Complex number z: (3+4j)
Real part: 3.0
Imaginary part: 4.0

### List

> A list is an ordered, mutable collection that can hold items of different types.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])  # banana
fruits[1] = "mango"
print(fruits)

banana
['apple', 'mango', 'cherry', 'orange']

### Tuple

> A tuple is similar to a list, but it's unchangable. That means once created, it can't be modified.

In [ ]:
coordinates = (10, 20)
print("second value:", coordinates[1])

second value: 20

### Dictionary

> A dictionary stores data in key-value pairs. It’s very useful for structured data

In [ ]:
spot1 = {"name": "John", "battery": 25, "distance": 893}

spot2 = {"name": "Jim", "battery": 21, "distance": 83}

print(spot1)

{'name': 'John', 'battery': 25, 'distance': 893}

### Boolean

> A Boolean can only be True or False. It’s often used in condition checking.

In [ ]:
is_adult = True
has_permission = False
print(is_adult and has_permission)
print(is_adult or has_permission)

False
True

### Set

> A set is an unordered collection of unique elements. It removes duplicates automatically.

In [ ]:
unique_numbers = {1, 2, 3, 3, 4}
print(unique_numbers)

# # Set operations
# a = {1, 2, 3}
# b = {3, 4, 5}
# print("Union:", a | b)
# print("Intersection:", a & b)

{1, 2, 3, 4}

### String

> A string is a sequence of characters enclosed in single or double quotes.

In [ ]:
name = "Alice"
greeting = 'Hello, World!'
print(name.upper())
print(greeting.lower())
print("Length of greeting:", len(greeting))

ALICE
hello, world!
Length of greeting: 13

### Sequence Types
> Lists, tuples, and strings are called sequence types because they store items in an ordered way and support indexing and slicing.

In [ ]:
# String sequence
text = "Python"
print(text[0])       # 'P'
print(text[2:5])     # 'tho'

# List sequence
colors = ["red", "green", "blue"]
print(colors[-1])    # 'blue'

# Tuple sequence
dimensions = (10, 20, 30)
print(dimensions[1:])  # (20, 30)

P
tho
blue
(20, 30)

## Loops

> Loops help us automate repetitive tasks. We’ll look at for loops for iterating over sequences, and while loops for executing as long as a condition holds.

### For loop

> This loop goes through each task in the list and prints it. task is a temporary variable that holds each value during the loop.

In [ ]:
at_start = ["Check battery", "Check sensor", "Wait for instruction"]

for task in at_start:
    print("Task:", at_start)

Task: ['Check battery', 'Check sensor', 'Wait for instruction']
Task: ['Check battery', 'Check sensor', 'Wait for instruction']
Task: ['Check battery', 'Check sensor', 'Wait for instruction']

### While loop

> This loop runs as long as the count is greater than 0. It decreases the value each time. Once the condition is false, it exits."

In [ ]:
count = 5
while count > 2:
    print("Counting down:", count)
    count -= 1

print("Liftoff!")

Counting down: 5
Counting down: 4
Counting down: 3
Liftoff!

## Arithmetic Operators

> Arithmetic operators help us perform basic mathematical operations. Let’s look at common ones with examples.

| Operator | Meaning             | Example Code     | Output |
| -------- | ------------------- | ---------------- | ------ |
| `+`      | Addition            | `print(3 + 2)`   | 5      |
| `-`      | Subtraction         | `print(10 - 7)`  | 3      |
| `*`      | Multiplication      | `print(4 * 5)`   | 20     |
| `/`      | Division            | `print(10 / 2)`  | 5.0    |
| `//`     | Floor Division      | `print(10 // 3)` | 3      |
| `%`      | Modulus (Remainder) | `print(10 % 3)`  | 1      |
| `**`     | Exponentiation      | `print(2 ** 3)`  | 8      |

In [ ]:
price = 250
tax_rate = 0.18
total_price = price + (price * tax_rate)
print("Total Price with Tax:", total_price)

Total Price with Tax: 295.0

## Logical Operators

> Logical operators let us combine multiple conditions. They're often used in decision-making.

### And

> 'and' makes sure both conditions are true. If either fails, the result is false.

In [ ]:
username = "admin"
password = "1234"
key = "AD3r3rd"

age = 20

if username == "admin" and password == "1234" and key == "AD3r3rd" or age == 18:
    print("Login successful")
else:
    print("Invalid credentials")

Login successful

### Or

> 'or' checks if at least one condition is true.

In [ ]:
age = 16

if age < 18 or age > 65:
    print("Eligible for discount")
else:
    print("No discount")

Eligible for discount

### Not

> 'not' reverses the condition. If is_blocked is False, not False becomes True.

In [ ]:
is_blocked = False

if not is_blocked:
    print("Access granted")
else:
    print("Access denied")

Access granted

## Comparison Operators

> Comparison operators allow us to compare values. They're often used in conditional statements like if or loops.

| Operator | Meaning          | Example  | Result  |
| -------- | ---------------- | -------- | ------- |
| `==`     | Equal to         | `3 == 3` | `True`  |
| `!=`     | Not equal to     | `4 != 5` | `True`  |
| `>`      | Greater than     | `10 > 3` | `True`  |
| `<`      | Less than        | `5 < 2`  | `False` |
| `>=`     | Greater or equal | `7 >= 7` | `True`  |
| `<=`     | Less or equal    | `8 <= 6` | `False` |

In [ ]:
marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
else:
    print("Grade: C")

## Built-In Functions

> Function is a reusable block of code that performs a specific task

### len()

> Returns the number of items in a collection like a list, string, or dictionary.

In [ ]:
name = "OpenAI"
print("Length of name:", len(name))

fruits = ["apple", "banana", "cherry"]
print("Number of fruits:", len(fruits))

Length of name: 6
Number of fruits: 3

### pop()

> Removes and returns an item at a given index (default: last item) from a list.

In [ ]:
numbers = [10, 20, 30, 40]
last_number = numbers.pop()
print("Popped number:", last_number)
print("Remaining list:", numbers)

Popped number: 40
Remaining list: [10, 20, 30]

### append()

> Adds an item to the end of a list.

In [ ]:
students = ["Alice", "Bob"]
students.append("Charlie")
print("Updated list:", students)

Updated list: ['Alice', 'Bob', 'Charlie']

### type()

> Returns the type of a variable.

In [ ]:
x = 42
print("Type of x:", type(x))

y = [1, 2, 3]
print("Type of y:", type(y))

Type of x: <class 'int'>
Type of y: <class 'list'>

### sorted()

> Returns a sorted version of a list.

In [ ]:
# scores = [87, 56, 99, 45]
# print("Sorted Scores:", sorted(scores))

names = ["sum", "stings", "max"]
sorted_names = sorted(names,key=len, reverse= True)
print(sorted_names)

['stings', 'sum', 'max']

### sum()

> Adds all numeric items in a list.

In [ ]:
expenses = [1200, 800, 950]
total = sum(expenses)
print("Total Expenses:", total)

Total Expenses: 2950

### max() and min()

> Returns the largest or smallest value in a list.

In [ ]:
temperatures = [32, 28, 35, 30]
print("Max temp:", max(temperatures))
print("Min temp:", min(temperatures))

Max temp: 35
Min temp: 28

## String Functions

### upper() / lower() / title()

In [ ]:
s = "hello world"
print(s.upper())   # HELLO WORLD
print(s.lower())   # hello world
print(s.title())   # Hello World

### strip() / lstrip() / rstrip()

In [ ]:
s = "   Hello   "
print(s.strip())   # "Hello"
print(s.lstrip())  # "Hello   "
print(s.rstrip())  # "   Hello"

Hello
Hello
   Hello

### replace()

In [ ]:
text = "I love Java"
print(text.replace("Java", "Python"))  # I love Python

I love Python

### find() / index()

In [ ]:
msg = "machine learning"
print(msg.find("learn"))   # 8
print(msg.index("machine")) # 0

8
0

### split() / join()

In [ ]:
data = "name,age,city"
parts = data.split(",")
print(parts)  # ['name', 'age', 'city']

joined = "-".join(parts)
print(joined) # name-age-city

['name', 'age', 'city']
name-age-city

### startswith() / endswith()

In [ ]:
filename = "report.pdf"
print(filename.endswith(".pdf"))  # True
print(filename.startswith("rep")) # True

True
True

### Concatenate

> In Python, you can join two or more strings using the + operator.
Here, we’re combining str1 and str2 with a space in between to form one complete string.

In [ ]:
str1 = "Hello"
str2 = "World"

result = str1 + " " + str2
print(result)

Hello World

## Type casting

> Type casting means converting one data type to another — like turning a string into an integer.

In [ ]:
# before
age = input("Enter your age: ")
print(age + 5)

# after
age = int(input("Enter your age: "))
print(age + 5)

Enter your age: 28
33

## Assignment Operators

> Assignment operators are used to assign values to variables. Python also supports compound assignment operators to combine operations like addition, subtraction, multiplication, etc., with assignment.

| Operator | Meaning                   | Example   | Equivalent To |
| -------- | ------------------------- | --------- | ------------- |
| `=`      | Assign                    | `x = 5`   | —             |
| `+=`     | Add and Assign            | `x += 3`  | `x = x + 3`   |
| `-=`     | Subtract and Assign       | `x -= 2`  | `x = x - 2`   |
| `*=`     | Multiply and Assign       | `x *= 4`  | `x = x * 4`   |
| `/=`     | Divide and Assign (float) | `x /= 2`  | `x = x / 2`   |
| `//=`    | Floor Divide and Assign   | `x //= 2` | `x = x // 2`  |
| `%=`     | Modulus and Assign        | `x %= 3`  | `x = x % 3`   |
| `**=`    | Exponent and Assign       | `x **= 2` | `x = x ** 2`  |


> assignment operators make your code cleaner and easier to understand, especially in loops, score counters, finance calculations, and so on.

In [ ]:
score = 0
score += 10  # Player scores 10 points
score += 5   # Player scores 5 more points
score -= 3   # Player loses 3 points
print("Final Score:", score)

Final Score: 12

## Identity Operators

> Identity operators are used to compare the memory locations of two objects.

| Operator | Meaning                                 | Returns          |
| -------- | --------------------------------------- | ---------------- |
| `is`     | True if both refer to same object       | `True` / `False` |
| `is not` | True if they refer to different objects | `True` / `False` |

In [ ]:
# Identity operator example
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)      # True (same object in memory)
print(a is c)      # False (different objects, same content)
print(a == c)      # True (values are equal)

print(a is not b)  # False
print(a is not c)  # True

True
False
True
False
True

## Membership Operators

> Membership operators are used to check whether a value or variable exists within a sequence or collection (like strings, lists, tuples, sets, or dictionaries).

| Operator | Description                                  | Example              | Returns |
| -------- | -------------------------------------------- | -------------------- | ------- |
| `in`     | Returns `True` if a value exists             | `"a" in "apple"`     | `True`  |
| `not in` | Returns `True` if a value does **not** exist | `"x" not in "apple"` | `True`  |

In [ ]:
# String example
word = "hello"
print("e" in word)      # True
print("z" not in word)  # True

# List example
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)     # True
print("grape" not in fruits)  # True

# Tuple example
numbers = (1, 2, 3, 4)
print(3 in numbers)      # True
print(5 not in numbers)  # True

# Set example
colors = {"red", "blue", "green"}
print("red" in colors)      # True
print("yellow" not in colors)  # True

# Dictionary example (checks keys only)
person = {"name": "Alice", "age": 30}
print("name" in person)      # True
print("Alice" in person)     # False

## Conditional Statements

> Conditional statements allow us to make decisions in code. Based on whether a condition is True or False, we can execute specific blocks of code.

In [ ]:
# if statement
age = 20
if age >= 18:
    print("You are eligible to vote.")

# if-else statement
temperature = 30
if temperature > 35:
    print("It's too hot.")
else:
    print("Weather is fine.")

# if-elif-else statement
marks = 85
if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
else:
    print("Grade: D")

You are eligible to vote.
Weather is fine.
Grade: B

## String Manipulation

> String manipulation refers to the process of changing, parsing, analyzing, or modifying strings using built-in Python methods.

### Indexing

> Indexing starts from 0. Negative indexing starts from the end.

In [ ]:
text = "Python"
print(text[0])  # Output: P
print(text[-1]) # Output: n

P
n

### Slicing Strings

> Slicing helps extract a substring using [start:end]. The end index is not included.

In [ ]:
text = "Artificial Intelligence"
print(text[0:10])   # Output: Artificial
print(text[11:])    # Output: Intelligence
print(text[:10])    # Output: Artificial

Artificial
Intelligence
Artificial

## Classes

> Classes are blueprints for creating objects. Objects represent real-world entities like a car, student, or robot, and each object can have its own attributes (data) and methods (functions).

> Objects are instances of classes. They encapsulate data for the class and can access the class's methods.

> Here, __init__ is the constructor. It gets called automatically when you create an object. The self keyword refers to the object itself.

In [ ]:
class Robot: # This line defines a new class called Robot. Think of a class as a blueprint — like the design of a robot. It tells us what the robot can do and what data it holds.

    def __init__(self, name):
        self.name = name
        self.position = 0

    def move(self, steps): # This is a method named move. We give it a number of steps, and it adds those steps to the robot’s current position.
        self.position += steps
        print(f"{self.name} moved to position {self.position}")

In [ ]:
r1 = Robot("Robo1")
r1.move(5)
r1.move(3)

Robo1 moved to position 5
Robo1 moved to position 8

> __init__ is a special function in Python called the constructor. It runs automatically when we create a new object."

> "name is a parameter we give when creating the robot. We store it in self.name, which means this robot’s own name."

> "self.position = 0 sets the starting position of the robot to 0

> Here, we’ve defined a class Robot with a name and a position. When we create a robot object, we give it a name. The move method increases the robot’s position on a line, simulating forward movement. This is how we encapsulate data and behavior into one structure: a class.